{% extends 'base.html' %}

{% block title %}
    <title>Feed Page</title>
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="../static/feed.css">
{% endblock %}
{% block content %}
<div class="container">
    <div class="jumbotron jumbotron-fluid rounded" style="
        height: 300px;
        margin: 20px;
        background-image: url('../static/images/american.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 0.9;
        ">
    </div>
    <div class="overlay-text">American Food</div>
</div>
    <div class="container">
        <div class="row">
                <div class="col-3 card stretched-link">
                    <img src="../static/images/skew.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5>Skewer</h5>
                    <p class="card-text">$12</p>
                    <small>1234 NW st. </small>
                    </div>
                </div>
                <div class=" col-3 card">
                    <img src="../static/images/skew.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5>Skewer</h5>
                    <p class="card-text">$12</p>
                    <small>1234 NW st. </small>
                    </div>
                </div>
                <div class=" col-3 card">
                    <img src="../static/images/skew.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5>Skewer</h5>
                    <p class="card-text">$12</p>
                    <small>1234 NW st. </small>
                    </div>
                </div>
                <div class=" col-3 card">
                    <img src="../static/images/skew.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5>Skewer</h5>
                    <p class="card-text">$12</p>
                    <small>1234 NW st. </small>
                    </div>
                </div>
                <div class=" col-3 card">
                    <img src="../static/images/skew.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5>Skewer</h5>
                    <p class="card-text">$12</p>
                    <small>1234 NW st. </small>
                    </div>
                </div>
                <div class=" col-3 card">
                    <img src="../static/images/skew.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5>Skewer</h5>
                    <p class="card-text">$12</p>
                    <small>1234 NW st. </small>
                    </div>
                </div>
                <div class=" col-3 card">
                    <img src="../static/images/skew.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5>Skewer</h5>
                    <p class="card-text">$12</p>
                    <small>1234 NW st. </small>
                    </div>
                </div>
                <div class=" col-3 card">
                    <img src="../static/images/skew.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5>Skewer</h5>
                    <p class="card-text">$12</p>
                    <small>1234 NW st. </small>
                    </div>
                </div>
                <div class=" col-3 card">
                    <img src="../static/images/skew.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5>Skewer</h5>
                    <p class="card-text">$12</p>
                    <small>1234 NW st. </small>
                    </div>
                </div>
                <div class=" col-3 card">
                    <img src="../static/images/skew.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5>Skewer</h5>
                    <p class="card-text">$12</p>
                    <small>1234 NW st. </small>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}